body{
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.main-header{
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.sub-header{
    font-size: 16px;
    color: aquamarine;
}